/* ELEMENTS */

:root {
  --color-green: #38af90;
  --color-white: #fff;
  --color-gray: #797979;
  --color-gray-light: #f0f0f0;
  --color-pink: #dd7e92;
  --color-gray-input: #c4c4c4;
  --color-dark-gray: #383838;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
}

/* HEADER CLASS, IDS */

.nav-container {
  background-color: var(--color-green);
  height: 90px;
  width: 100%;
  padding: 10px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.nav-brand {
  margin: 0;
  font-size: 18px;
  color: var(--color-white);
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-main a {
  text-decoration: none;
  color: var(--color-white);
}

.menu-content {
  display: flex;
  align-items: center;
}

/* MAIN-NEWS CLASS, IDS */

.news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-main-title {
  font-size: 24px;
  color: var(--color-gray);
  display: flex;
  justify-content: center;
  margin: 40px 0 0 0;
}

.news-card {
  background-color: var(--color-gray-light);
  margin: 10px 10px 30px 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 300px;
}

.news-title {
  color: var(--color-green);
  font-size: 1rem;
}

.news-text {
  color: var(--color-gray);
  font-size: 12px;
  font-weight: 700;
  border-bottom: 1px solid var(--color-green);
  margin-bottom: 0;
}

.news-date {
  color: var(--color-green);
  font-size: 10px;
  margin-top: 5px;
}

.news-text-description {
  color: var(--color-gray);
  font-size: 10px;
  margin: 0;
}

.news-read-more {
  color: var(--color-pink);
  font-size: 14px;
}

.news-load-more {
  background-color: var(--color-pink);
  width: 245px;
  height: 65px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.news-load-more a {
  color: var(--color-white);
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

/* MAIN-GAMES CLASS, IDS */

.game-container {
  background-color: var(--color-gray-light);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-title {
  color: var(--color-green);
  font-size: 24px;
  font-weight: 700;
  padding: 40px 0 30px 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.game-card-container {
  
  
}

.game-card {
  background-color: var(--color-white);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-bottom: 30px;
  min-width: 300px;
}

.game-card img {
  width: 300px;
  height: 168px;
}

.game-description {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-description h3 {
  color: var(--color-gray);
  font-size: 18px;
  display: flex;
  margin: 30px 0 0 0;
}

.game-description p {
  color: var(--color-gray);
  font-size: 12px;
  margin: 0;
}

.game-description span {
  color: var(--color-green);
  font-weight: 700;
}

.game-score p {
  color: var(--color-green);
  font-size: 36px;
  font-weight: 700;
  margin: 15px 0;
}

/* MAIN-FORM CLASS, IDS */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  display: flex;
  justify-content: center;
}

.form-card {
  width: 300px;
  background-color: var(--color-gray-light);
  border-radius: 8px;
  margin-bottom: 60px;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 10px 0;
}

.form-signup input {
  width: 260px;
  height: 50px;
  margin: 10px 0;
  border: 1px solid var(--color-gray);
  border-radius: 4px;
  font-size: 16px;
  padding-left: 20px;
  font-family: "Poppins";
}

.form-signup ::placeholder {
  color: var(--color-gray-input);
}

.form-plataform {
  margin-top: 10px;
  font-size: 16px;
  color: var(--color-gray);
}

#ctrl-plataform input {
  width: 23px;
  height: 23px;
}

.form-receive-news {
  font-size: 16px;
  color: var(--color-gray);
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 35px 0 40px 0;
}

.form-receive-news input {
  width: 23px;
  height: 23px;
  margin-right: 7px;
}

.form-button-submit input {
  width: 245px;
  height: 65px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-pink);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: var(--color-white);
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.form-button-reset input {
  width: 245px;
  height: 65px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  border: 2px solid var(--color-pink);
  border-radius: 8px;
  cursor: pointer;
  color: var(--color-pink);
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

/* FOOTER CLASS, IDS */

.footer-container {
  background-color: var(--color-dark-gray);
  height: 300px; 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content {
  font-size: 14px;
  color: var(--color-white);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.footer-links a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--color-white);
}

.footer-links {
  margin-bottom: 40px;
}

.footer-rights-reserved p {
  margin: 0;
}

.footer-privacy a {
  text-decoration: none;
  color: var(--color-white);
}

.footer-privacy p {
  margin-top: 40px;
}

/* RESPONSIVE 768p, 1200 p*/

@media (max-width: 768px) {
  .menu-items {
    color: var(--color-green);
  }
  .menu-items a {
    color: var(--color-green);
  }

  .footer-container {
    height: 300px;
  }

  .form-card {
    margin: 20px 105px 20px 105px;
    max-width: 990px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 24px;
  }

  .nav-container {
    padding: 10px 105px;
  }

  .nav-brand {
    font-size: 24px;
  }

  .menu-items {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu-items li {
    margin: 10px;
    font-size: 14px;
  }

  .news-main-title {
    font-size: 36px;
    margin: 40px 0 20px 0;
  }

  .news-card {
    margin: 20px 105px 20px 105px;
    max-width: 990px;
  }

  .news-text {
    font-size: 16px;
  }

  .news-load-more {
    margin: 20px 0 60px 0;
  }

  .game-card {
    margin: 15px;
  }

  .game-card-container {
    margin-bottom: 55px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .game-card-container {
    
  }

  .form-title {
    margin: 40px 0;
  }

  .form-card {
    width: 790px;
    padding: 10px 75px;
  }

  .form-name input {
    width: 640px;
    height: 50px;
  }

  .form-email input {
    width: 640px;
    height: 50px;
  }

  #ctrl-plataform input {
    margin-left: 0;
  }

  #ctrl-receive-news {
    margin-left: 0;
  }

  .form-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }

  .form-button-submit {
    margin-right: 25px;
  }

  .form-button-reset {
    margin-left: 25px;
  }

  .nav-container {
    display: flex;
  }

  .footer-container {
    height: 190px;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 105px;
  }

  .footer-links {
    margin: 0;
  }
  
  .footer-privacy p {
    margin: 0;
  }



}
